<!DOCTYPE html>

<head>
  <meta charset="utf-8">

  <!-- Makes flexboxes look decent on mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

  <title>Satellite Uplink</title>

  <!-- Icon-->
  <link rel="icon" href="/images/icons/favicon-circle.png">

  <!-- Local stylesheet -->
  <link href="styles.css" type="text/css" rel="stylesheet">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      <div id="channel_trees"></div>

      <div id="callout_container">
        <button class="dropbtn" onclick="toggle_callout_display('basic');">Show basic callouts</button>
        <button class="dropbtn" onclick="toggle_callout_display('full');">Show full callouts</button>
        <button class="dropbtn" onclick="toggle_callout_display('');">Clear callouts</button>
        <div id="inner_callout_container">
        </div>
      </div>
    </div>

    <div class="footer">Source on <a href="https://github.com/GeckoEidechse/satellite-uplink">GitHub</a></div>
  </div>

  <!-- jQuery -->
  <script src="jquery.min.js"></script>

  <!-- Socket Library -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Own code -->
  <script src="site.js"></script>
</body>

</html>