body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: white;
}

#lobby {
    background-color: burlywood;
}

.teams {
    width: 48%;
    background-color: aqua;
}

#team_a {
    float: left;
}

#team_b {
    float: right;
}

.icon_image {
    max-width: 50px;
}

.channel {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}