body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

#team_channels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.teams {
    flex: 450px; /* Adjust this value dynamically based on length of content */
}

.icon_image {
    max-width: 50px;
}

.channel {
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

/* Dropdown button styles */
.dropbtn {
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 3px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* For floatiness */
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body {
    background-color: white;
}

.lobby {
    background-color: burlywood;
}

.teams {
    background-color: aqua;
}

.dropbtn {
    background-color: green;
}

.dropdown:hover .dropbtn {
    background-color: darkgreen;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #202225;
        /* text colour: */
        color: white;
    }

    .lobby {
        background-color: #2f3136;
    }

    .teams {
        background-color: #36393f;
    }

    .dropbtn {
        background-color: #7289da;
    }

    .dropdown:hover .dropbtn {
        background-color: #677bc4;
    }

    a {
        color: #00b0f4;
    }
}
