body {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: white;
}

#lobby {
    background-color: burlywood;
}

#team_channels {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.teams {
    flex: 450px; /* Adjust this value dynamically based on length of content */
    background-color: aqua;
}

.icon_image {
    max-width: 50px;
}

.channel {
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
}

.footer{
    position: fixed;
    text-align: center;
    bottom: 0px;
    width: 100%;
}